In [59]:
x=10
y=3

In [60]:
name="shubham"
city="lucknow"

In [61]:
x=10

In [62]:
x=True

In [63]:
x=None

In [64]:
x="hello"

In [65]:

x=(1,2,3)
x.

SyntaxError: invalid syntax (3228395964.py, line 2)

In [ ]:
x={1,2,3,1,2,3}

In [66]:
x={'a':'apple','b':'bery'}

In [67]:
x

{'a': 'apple', 'b': 'bery'}

In [68]:
print("hello there")

hello there

In [69]:
print("hi","hello")

hi hello

In [70]:
print("one")
print("two")
print("three")

one
two
three

In [71]:
print('omne\ntwo\nthree')

omne
two
three

In [74]:
x=1087687687
y='Grapes'
print(f'i have {x} {y}')

i have 1087687687 Grapes

In [78]:
qty=10
price=50
print(f'total amount={qty * price}')

total amount=500

In [79]:
item=input("enter item name")

In [81]:
x=int(input("enter a number"))
print(x)

3211

In [82]:
a=int(input("A"))
b=int(input("b"))
c=a+b
print(f'{c=}')

c=54877

In [1]:
x=10
y=3

In [ ]:
print(x+y) #addition
print(x-y) #subtraction
print(x*y) #multiplication
print(x/y) #division
print(x%y) #modulus(reaminder)
print(x//y) #floor division(int)
print(x**y)#exponetation(power)

In [3]:
z=x**6

In [10]:
x=100  #pimple assignment
x+= 10 
print(x)
x-=50
print(x)
x*= 3
print(x)
x/=2
print(x)
x%=4
print(x)

110
60
180
90.0
2.0

In [12]:
x=10
y=3 

print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)
print("Pyhton"=='Pyton')

True
False
True
False
False
True
False

In [16]:
a,b=100,10
print(a>b and b>0)
print(a>b and b<0)
print(a<b and b<0)
print(a<b and b>0)

True
False
False
False

In [17]:
not (10>3 and 3<5)

False

In [18]:
not 100

False

In [19]:
bool(100)

True

In [20]:
colours= ['red', 'green','blue' ,'yellow' ] 
print('red' in colours)
print('yeelow' in colours)
print('black'in colours)
print('red green' in colours)
print('black' not in colours)

True
False
False
False
True

In [ ]:
x,y,z = input('X', input('Y'), input('z'))
print(x,y,z)